@use "global" as *;

.btn{
  position: relative;
  display: inline-block;
  background-color: #408F95;
  color: $white;
  padding:  rem(16)  rem(88) rem(16)  rem(40);
  font-family: $gotu;
  font-size:   rem(14);
  line-height: calc(22 /14 );
  text-align: center;
}

.btn::after{
  position: absolute;
  content:"";
  display: block;
  width:  rem(202);
  height:  rem(54);
  border: 1px solid #408F95;
  top:  rem(4);
  left:  rem(4);
}

.btn a::after{
  position: absolute;
  top: 50%;
  right:  rem(40);
  transform: translateY(-50%);
  display: block;
  content:"";
  background-color: #fff;
  width:  rem(40);
  height:  rem(1);
}

.btn a::before{
  position: absolute;
  top: 45%;
  right:  rem(40);
  transform: translateY(-50%) rotate(45deg);
  display: block;
  content:"";
  background-color: #fff;
  width:  rem(8);
  height:  rem(1);
  
}